:root {
    --white-color: rgba(255, 255, 255, 1); 
    --blue-color: rgba(33, 150, 243, 1);
    --black-color: rgba(33, 33, 33, 1);
    --gray-color: rgba(117, 117, 117, 1);
    --dark-blue-color: rgba(47, 48, 58, 1);
    --darker-white-color: rgba(245, 244, 250, 1);
    --alpha-gray-color: rgba(255, 255, 255, 0.60);
}
body {
    font-family: "Roboto";
    font-size: 14px;
    color: var(--black-color);
}
.logo{
    font-family: Raleway;
font-size: 26px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.03em;
text-align: left;
}
.nav-list-link{
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.02em;
text-align: left;
}
.contacts-list-link {
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: left;
}
.section-hero-title{
font-size: 44px;
font-weight: 900;
line-height: 1.4;
letter-spacing: 0.06em;
text-align: center;
}
.section-hero-btn{
font-size: 16px;
font-weight: 700;
line-height: 1.9;
letter-spacing: 0.06em;
text-align: center;
}
.features-list-title{
font-weight: 700;
line-height: 1.1;
letter-spacing: 0.03em;
text-align: left;
}
.features-list-text{
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;
text-align: left;
}
.work-title{
font-size: 36px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.03em;
text-align: center;
}
.team-title{
font-size: 36px;
font-weight: 700;
line-height: 1.2;
letter-spacing: 0.03em;
text-align: center;
}
.team-list-title{
font-size: 16px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.03em;
text-align: center;
margin-bottom: 10px;
}
.team-list-text{
font-size: 16px;
font-weight: 400;
line-height: 1.2;
letter-spacing: 0.03em;
text-align: center;
}
.address-list-link{
font-weight: 400;
line-height: 1.7;
letter-spacing: 0.03em;
text-align: left;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section-hero{
    padding-top: 200px;
    padding-bottom: 200px;
}
.section-hero-btn{
    margin-top: 30px;
}
.section-features{
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-list-title{
    margin-bottom: 10px;
}
.work-section{
    padding-bottom: 94px;
}
.work-title{
    margin-bottom: 50px;
}
.section-team{
    padding-bottom: 94px;
    padding-top: 94px;
}
.team-title{
    margin-bottom: 50px;
}
.section-footer{
    padding-bottom: 60px;
    padding-top: 60px;
}
.address{
    margin-top: 20px;
    padding-bottom: 60px;
}
.header-content-wrap{
    display: flex;
    align-items: center;
    gap: 93px;
    height: 80px;
}
.nav-list{
    display: flex;
    gap: 50px;
}
.contacts-list{
    display: flex;
    gap: 50px;
    margin-left: auto;
}
.section-hero-btn{
    display: block;
    margin: 0 auto;
}
.features-list{
    display: flex;
    gap: 30px;
}
.work-list{
    display: flex;
    gap: 30px;
}
.team-list{
    display: flex;
    gap: 30px;
}
.team-list-content{
    padding: 30px 0;
}